@charset "UTF-8";

/*csslint adjoining-classes:false,box-sizing:false,important:false,rules-count:false,selector-max-approaching:true,universal-selector:false,unqualified-attributes:false*/

/**
 * ~ Reset
 * ----------------------------------------------------------------------------|
 *
 * Shamelessly stolen from the HTML5 Doctor, and tweaked to my own needs.
 *
 * @link  http://html5doctor.com/html-5-reset-stylesheet/
 */

*, *:before, *:after {
  box-sizing: border-box
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption,
cite, dd, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, label, legend, li,
mark, menu, nav, object, ol, p, pre, section, small, span, strong, sub, summary,
sup, table, tbody, td, tfoot, th, thead, time, tr, ul, video {
  z-index: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%
}

body {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none
}

/* <> */
